/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background: #000000;
    color: white;
    line-height: 1.6;
}

/* NAV */
nav {
    display: flex;
    justify-content: space-between;
    padding: 0px 40px;
    background: #000000;
    position: sticky;
    top: 0;
}

nav ul {
    display: flex;
    gap: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: 600;
}

/* HERO */
.hero {
    height: 25vh;
    background: linear-gradient(to bottom, #8255ff, #000);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero h2 {
    font-size: 3rem;
    margin-bottom: 10px;
}

.btn {
    margin-top: 20px;
    padding: 10px 20px;
    border: 2px solid #8255ff;
    text-decoration: none;
    color: #8255ff;
    transition: 0.2s;
    
}

.btn:hover {
    background: #8255ff;
    color: black;
}

/* SECTIONS */
.section {
    padding: 20px 40px;
}

.section h2 {
    margin-bottom: 20px;
    font-size: 2rem;
}

.section h3{
    font-size: 2rem;
    color: white;
}

/* MUSIC GRID */
.music-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.music-card {
    background: #0a0a0a;
    padding: 20px;
    border-radius: 10px;
}

.music-card img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
}

/* GAME GRID */
.game-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 20px;
}

.game-card {
    background: #0a0a0a;
    padding: 20px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    color:#8255ff;
}

.game-card img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
}

/* CONTACT */
.contact .socials {
    margin-top: 15px;
    display: flex;
    gap: 20px;
    height: 25vh;
    background: linear-gradient(to top, #8255ff, #000);
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
}

.socials a {
    color: #ffffff;
}
.fa{
    padding: 20px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    color:white;
}

.fa:hover {
    opacity: .7;
}

